# Ignore node_modules for both frontend and backend
backend/node_modules/
frontend/node_modules/

# Ignore build output for frontend
frontend/dist/

# Ignore environment variables
.env
.env.local

# Other common ignores
.DS_Store
npm-debug.log*
yarn-debug.log*
